.redes-container {
  height: 10vh;
  // background-color: #0000008c;
  color: #fff;
  width: 5%;
  position: fixed;
  z-index: 9999;
  top: 40%;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}
